
     <h1>Front Porch Light</h1>

     <button phx-click="on">TURN ON</button>
     <button phx-click="up">+</button>
     <%= @brightness %>
     <button phx-click="down">-</button>
     <button phx-click="off">TURN OFF</button>
